@use 'sass:map';
@import 'lib/mixins';

$buttons: (
  'link': (
    'bg': transparent,
    'bg-disabled': transparent,
    'bg-hover': tranparent,
    'border-color': transparent,
    'border-disabled-color': transparent,
    'dot': none,
    'dot-disabled': none,
    'fg': inherit,
    'fg-disabled': inherit,
  ),
  'filled-white': (
    'bg': var(--fl-color-white),
    'bg-disabled': var(--fl-color-grey-300),
    'bg-hover': var(--fl-color-grey-300),
    'border-color': #{var(--fl-color-white)},
    'border-disabled-color': transparent,
    'dot': var(--fl-color-grey-700),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-grey-700),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'filled-black': (
    'bg': var(--fl-color-grey-700),
    'bg-disabled': var(--fl-color-grey-300),
    'bg-hover': var(--fl-color-black),
    'border-color': #{var(--fl-color-grey-700)},
    'border-disabled-color': transparent,
    'dot': var(--fl-color-white),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-white),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'filled-red': (
    'bg': var(--fl-color-red-500),
    'bg-disabled': var(--fl-color-grey-300),
    'border-color': #{var(--fl-color-red-500)},
    'border-disabled-color': transparent,
    'dot': var(--fl-color-white),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-white),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'filled-yellow': (
    'bg': var(--fl-color-yellow-500),
    'bg-disabled': var(--fl-color-grey-300),
    'border-color': #{var(--fl-color-yellow-500)},
    'border-disabled-color': transparent,
    'dot': var(--fl-color-black),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-black),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'filled-green': (
    'bg': var(--fl-color-green-500),
    'bg-disabled': var(--fl-color-grey-300),
    'border-color': #{var(--fl-color-green-500)},
    'border-disabled-color': transparent,
    'dot': var(--fl-color-white),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-white),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'outlined': (
    'bg': transparent,
    'bg-disabled': transparent,
    'bg-hover': var(--fl-color-grey-300),
    'border-color': #{var(--fl-color-grey-700)},
    'border-disabled-color': #{var(--fl-color-grey-500)},
    'dot': var(--fl-color-grey-700),
    'dot-disabled': var(--fl-color-white),
    'fg': var(--fl-color-grey-700),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'outlined-white': (
    'bg': transparent,
    'bg-disabled': transparent,
    'bg-hover': var(--fl-color-grey-700),
    'border-color': #{var(--fl-color-white)},
    'border-disabled-color': #{var(--fl-color-grey-500)},
    'dot': var(--fl-color-white),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-white),
    'fg-disabled': var(--fl-color-grey-500),
  ),
  'tertiary': (
    'bg': transparent,
    'bg-disabled': transparent,
    'bg-hover': var(--fl-color-grey-300),
    'border-color': transparent,
    'border-disabled-color': transparent,
    'dot': var(--fl-color-grey-700),
    'dot-disabled': var(--fl-color-grey-500),
    'fg': var(--fl-color-grey-700),
    'fg-disabled': var(--fl-color-grey-500),
  ),
);

.fl-btn {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  color: var(--fl-color-white);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--fl-color-grey-700);
  background-color: var(--fl-color-grey-700);
  padding: 12px 22px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  white-space: nowrap;
  text-decoration: none;

  &:disabled,
  &.disabled {
    pointer-events: none;
    background-color: var(--fl-color-grey-300);
    border-color: var(--fl-color-grey-300);
    color: var(--fl-color-grey-500);
  }

  // Get rid of underline for a-tags and add pointer to eg. label
  &:hover {
    color: var(--fl-color-white);
    background-color: rgba(0, 0, 0, 50);
    text-decoration: none;
    cursor: pointer;
  }

  &.fl-btn-spinner {
    padding-right: 50px;
    padding-left: 14px;
  }

  &.fl-btn-spinner::after {
    position: absolute;
    top: 47%;
    right: 14px;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -6px;
    background-color: transparent !important;
    border-top-color: transparent !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
    content: ' ';
  }

  &.fl-btn-spinner:hover::after {
    right: 14px !important;
  }
}

.fl-btn-sm {
  border-width: 1px !important;
  font-size: 14px !important;
  padding: 6px 14px !important;
  border-radius: 8px;
  font-weight: 400;

  &::after {
    right: 14px !important;
    width: 10px !important;
    height: 10px !important;
    margin-top: -3px !important;
    border-radius: 10px !important;
  }
  
  &:hover::after {
    right: 32px !important;
  }

  &.fl-btn-spinner {
    padding-right: 30px !important;
    padding-left: 18px !important
  }

  &.fl-btn-spinner::after {
    border-width: 1px;
    margin-top: -2px !important;
  }

  &.fl-btn-spinner:hover::after {
    right: 14px !important;
  }
}

.fl-btn-lg {
  padding: 16px 26px !important;
  border-radius: 8px;
}

.fl-btn-rounded {
  border-radius: 50px;
}

.fl-btn-spinner {
  pointer-events: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@each $name, $props in $buttons {
  @include fl-generate-button($name, $props);
}
