@use './lib/mixins';

$colors: (
  'blue-500': #2d71a9,
  'turqouise-500': #b3d3e2,
  'tangerine-500': #f7cc9c,
  'beige-500': #fbf9e4,
  'brown-500': #2c2012,
  'yellow-500': #e5ca62,
  'grey-100': #fafafa,
  'grey-300': #f1f1f1,
  'grey-500': #999,
  'grey-700': #252525,
  'white': #fff,
  'black': #000,
  'green-300': #84B29B,
  'green-700': #31734b,
  'orange-300': #f4af78,
  'orange-500': #ff823b,
  'orange-700': #ff533b,
  'red-500': #d23403,
  'red-100': #e2929a,
);
$overlay-values: (0.9, 0.8, 0.7, 0.6, 0.5);

:root {
  @each $name, $hex in $colors {
    --fl-color-#{$name}: #{$hex};
  }
}

@each $name, $hex in $colors {
  @include mixins.fl-generate-color($name, $hex);
}

@each $opacity in $overlay-values {
  .fl-bg-overlay-light-#{$opacity * 100} {
    background-color: rgba(255, 255, 255, $opacity);
  }

  .fl-bg-overlay-dark-#{$opacity * 100} {
    background-color: rgba(0, 0, 0, $opacity);
  }
}
