@use 'sass:map';

.mf-select {
  $chevron-width: 6px;
  $chevron-height: 6px;

  position: relative;
  overflow: hidden;

  select {
    appearance: none;
    display: block;
    border: none;
    border-bottom: 2px solid var(--mf-color-grey-500);
    border-radius: 0;
    padding: 20px 0;
    padding-right: 24px;
    width: calc(100% + 0px);
    color: var(--mf-color-grey-700);
    font-size: var(--mf-fs-p);

    background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4999 8.58639L1.91373 0L0.499512 1.41421L10.4999 11.4148L20.5 1.41469L19.0858 0.000473857L10.4999 8.58639Z' fill='%23999999'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 2px center;

    &:hover:not([disabled]) {
      border-bottom: 2px solid var(--mf-color-money-blue-500);
    }

    &:focus:not([disabled]),
    &:active:not([disabled]) {
      outline: none;
      border-bottom: 2px solid var(--mf-color-grey-700);
    }

    &:disabled {
      background-color: var(--mf-color-grey-300);
      color: var(--mf-color-grey-500);
    }

    &:invalid {
      color: var(--mf-color-grey-500);
    }

    // Remove outline from select box in FF
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $form-select-color;
    }
  }

  label {
    display: block;
  }

  &.mf-select-sm select {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: var(--mf-fs-p-s);
    background-size: 14px 8px;
  }

  &.mf-select-error select {
    border-bottom: 2px solid var(--mf-color-orange-500) !important;
  }

  &.mf-select-error + .help-text {
    color: var(--mf-color-orange-500) !important;
  }
}


