@use 'sass:map';

.fl-select {
  $chevron-width: 6px;
  $chevron-height: 6px;

  position: relative;
  overflow: hidden;

  select {
    appearance: none;
    display: block;
    border: 1px solid var(--fl-color-grey-500);
    border-radius: 8px;
    padding: 10px 30px 10px 20px;
    width: calc(100% + 0px);
    color: var(--fl-color-grey-700);
    font-size: var(--fl-fs-p);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4999 8.58639L1.91373 0L0.499512 1.41421L10.4999 11.4148L20.5 1.41469L19.0858 0.000473857L10.4999 8.58639Z' fill='%23999999'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;

    &:hover:not([disabled]) {
      border-color: var(--fl-color-grey-700);
    }

    &:focus:not([disabled]),
    &:active:not([disabled]) {
      outline: none;
      border-color: var(--fl-color-grey-700);
    }

    &:disabled {
      background-color: var(--fl-color-grey-300);
      color: var(--fl-color-grey-500);
    }

    &:invalid {
      color: var(--fl-color-grey-500);
    }

    // Remove outline from select box in FF
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $form-select-color;
    }
  }

  label {
    display: block;
  }

  &.fl-select-sm select {
    padding: 5px 34px 5px 10px;
    font-size: var(--fl-fs-p-s);
    background-size: 14px 8px;
  }

  &.fl-select-error select {
    border-color: var(--fl-color-orange-500) !important;
  }

  &.fl-select-error .help-text {
    color: var(--fl-color-orange-500) !important;
  }

  .help-text {
    min-height: 24px;
  }
}


