.mf-shadow-s {
  box-shadow: 2px 2px 0px var(--mf-color-grey-700);
}

.mf-shadow {
  box-shadow: 4px 4px 0px var(--mf-color-grey-700);
}

.mf-shadow-l {
  box-shadow: 8px 8px 0px var(--mf-color-grey-700);
}