@use 'sass:map';

.fl-table {
  --fl-table-color: inherit;
  --fl-table-bg: var(--fl-color-white);
  --fl-table-border-color: var(--fl-color-grey-300);
  --fl-table-accent-bg: var(--fl-color-white);
  --fl-table-striped-color: var(--fl-color-grey-500);
  --fl-table-striped-bg: var(--fl-color-grey-500);
  --fl-table-active-color: inherit;
  --fl-table-active-bg: var(--fl-color-grey-300);
  --fl-table-hover-color: inherig;
  --fl-table-hover-bg: var(--fl-color-grey-300);

  width: 100%;
  margin-bottom: 0;
  color: var(--fl-table-color);
  vertical-align: middle;
  border-color: var(--fl-table-border-color);

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.fl-table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: 16px;
    background-color: var(--fl-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--fl-table-accent-bg);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: inherit;
    border-color: var(--fl-color-grey-500);
  }
}

//
// Change placement of captions with a class
//

.caption-top {
  caption-side: top;
}


//
// Condensed table w/ half padding
//

.fl-table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: 8px;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.fl-table-bordered {
  > :not(caption) > * {
    border-width: 1px 0;

    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 1px;
    }
  }
}

.fl-table-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Active table
//
// The `.fl-table-active` class can be added to highlight rows or cells

.fl-table-active {
  --fl-table-accent-bg: var(--fl-table-active-bg);
  color: var(--fl-table-active-color);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.fl-table-hover {
  > tbody > tr:hover > * {
    --fl-table-accent-bg: var(--fl-table-hover-bg);
    color: var(--fl-table-hover-color);
  }
}
